.callback {
    &__button {
        background-color: #fff;
        padding: 10px 68px 11px 36px;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        color: #000;
        cursor: pointer;
        position: relative;
        &:after {
            content: '🠒';
            width: 44px;
            height: 44px;
            background: #621212;
            position: absolute;
            top: 0;
            right: 0;
            color: #fff;
            font-size: 30px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}