@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    font-display: swap;
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'PF Din Text Cond Pro';
    font-display: swap;
    src: url('../fonts/PFDinTextCondPro-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
// @font-face {
//     font-family: 'PF Din Text Cond Pro';
//     font-display: swap;
//     src: url('../fonts/PFDinTextCondPro-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
// }