.nav {
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        &--logo {
            width: 285px;
            height: 31px;
            .nav__link {
                width: 285px;
                height: 31px;
            }
            .nav__svg {
                width: 285px;
                height: 31px;
            }
        }
    }
    &__link {
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        color: #000;
    }
}

@media (max-width: 1200px) {
    .nav {
        &__item {
            display: none;
            &--logo {
                display: block;
                position: absolute;
                top: 40px;
                right: 40px;
                width: fit-content;
                .nav__svg {
                    width: 230px;
                    height: 25px;
                }
            }
        }
    }
}

@media (max-width: 836px) {
    .nav {
        &__item {
            &--logo {
                top: 20px;
                right: 20px;
            }
        }
    }
}

@media (max-width: 516px) {
    .nav {
        &__item {
            &--logo {
                .nav__svg {
                    width: 190px;
                    height: 20px;
                }
            }   
        }
    }
}